* {
box-sizing: border-box;
    margin: 0;

}

@keyframes rollImage {
    0% {
        translate: 0px;
    }

    25% {
        translate: 20px;
    }


    100% {
        translate: 0px;
    }

}

body {
    min-width: 100%;
    max-width: 100%;

}

.navbar {
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    background-color: rgb(13, 13, 13);
    z-index: 10;
}
.active-link {
    color: #ff5900;
}

.navs {
    width: 50%;
    /* background-color: pink; */
    display: flex;
    gap: 50px;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    list-style: none;
}



.buttons {
    max-height: 35px;
    min-height: 35px;
    cursor: pointer;
    padding-inline: 10px ;
}

.links {
    text-decoration: none;
    color: #e5e2e2;
}

.section {
    width: 100%;
    padding: 10px;
}

.section-holder {
    width: 100%;
    padding: 10px;
    min-height: 300px;
    margin-top: 5%;
    padding: 2%;
    background-color: rgb(228, 228, 228);
}
.col {
    display: flex;
    flex-direction: row;
}
.banner {
    background-color: #192252;
    min-height: 200px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 2%;
}

.header {
    /* background-color: red; */
}

.toggle-button {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;

}
.centered-header {
    text-align: center;
}

.title-upper {
    text-transform: uppercase;
}

p {
    margin-top: 10px;
}

.centered-text {
background-color: pink;
width: 100%;
padding-inline: 30%;
text-align: center;
}

.animate {
    animation: rollImage 3s ease-in-out infinite
}